/* Style Sheet for Course Home Page */

/* ---------------COLOR THEME----------------- */




body {
  background-color: #f3dddd;
}


/* ---------------Box Sizing----------------- */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*------------Utility classes------------------------*/

.container{
  width:90vw;
  margin:40px auto;
}

.primary {
  width: 90vw;
  margin: 40px auto;
}

.explain {
  width: 90vw;
  margin: 40px auto;
}


/* ---------------Global Styles----------------- */

body {
  font-family: 'Spectral', serif;
  font-size: 12px;
  margin:0;
  text-align:left;
}


header.primary{
  background-color: #f6eaea;
  text-align:left;
  padding: 20px;
  border: double 3pt;
}


header.primary h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 50pt;
  margin: 10px;
  text-align: center;
  color: black;
}

header.primary h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 24pt;
  margin: 0;
  text-align: center;
  color: black;
  border-top: double 4px;
  border-bottom: double 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header.primary h3 {
  font-family: 'Playfair Display SC', serif;
  font-size: 20pt;
  margin-left: 20px;
  text-align: left;
}

header.primary nav {
  width:80vw;
  margin: 20px auto;
  max-width:900px;
}

header.primary nav ul{
  /* removes extra space for list item attatchments*/
  padding:5px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  
}

header.primary nav ul li{
  list-style-type:disc;
  padding:5px;
  margin-left: 50px;
  font-family: 'Noto Serif', serif;
}

header.primary nav ul li ul{
  list-style-type:circle;
  padding-left: 30px;
}

header.primary nav ul li ul li{
  list-style-type:circle;
  font-family: 'Noto Serif', serif;
}

header.primary nav ul li a{
  color:#000;
  font-size: 1rem;
}

header.primary nav ul {
  color:#000;
  font-size: 1rem;
}


/*------------- Aside (About Me) ------ */

section#intro {
  background-color: #f6eaea;
  color: #000;
  padding: 10px;
}

section#intro .container {
  background-color: #f3dddd;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 3px double #000;
  padding: 20px;
} 

section#intro h2 {
    border-bottom: 3pt double #000;
    padding-bottom: 20px;
    flex: 0 0 100%;
    color: #000;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 20pt;
} 


#intro figure img{
  margin-top: 0;
  padding: 5px;
  border-radius: 10px;
  max-height: 590px;
  max-width: 470px;
}

#intro p {
  font-size: 12pt;
  padding: 2px;
}

section article.widget {
  justify-content: space-between;
  width: 60%;
  padding: 20px;
  margin:0;
}

/*-------- Explain ----------*/


section#content {
  background-color: #f3dddd;
  color: #000;
  padding: 10px;
}

section#content .explain {
  background-color: #f6eaea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 3px double #000;
  padding: 20px;
} 

section#content h2 {
    border-bottom: 3pt double #000;
    padding-bottom: 20px;
    flex: 0 0 100%;
    color: #000;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 20pt;
} 


#content p {
  font-size: 12pt;
  padding: 2px;
}

section article.foo {
  justify-content: space-between;
  width: 60%;
  padding: 40px;
  margin:0;
}
