/* Style Sheet for Course Home Page */

/* ---------------COLOR THEME----------------- */




body {
  background-color: #f3dddd;
}


/* ---------------Box Sizing----------------- */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*------------Utility classes------------------------*/

.container{
  width:90vw;
  margin:40px auto;
}

.primary {
  width: 90vw;
  margin: 40px auto;
}

/* ---------------Global Styles----------------- */

body {
  font-family: 'Spectral', serif;
  font-size: 12px;
  margin:0;
  text-align:left;
}


header.primary{
  background-color: #f6eaea;
  text-align:left;
  padding: 20px;
  border: double 3pt;
}


header.primary h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 50pt;
  margin: 10px;
  text-align: center;
  color: black;
}

header.primary h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 24pt;
  margin: 0;
  text-align: center;
  color: black;
  border-top: double 4px;
  border-bottom: double 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header.primary h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20pt;
  margin-left: 20px;
  text-align: left;
}

header.primary nav {
  width:80vw;
  margin: 20px auto;
  max-width:900px;
}

header.primary nav ul{
  /* removes extra space for list item attatchments*/
  padding:5px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  
}

header.primary nav ul li{
  list-style-type:disc;
  padding:5px;
  margin-left: 50px;
  font-family: 'Noto Serif', serif;
}

header.primary nav ul li ul{
  list-style-type:circle;
  padding-left: 30px;
}

header.primary nav ul li ul li{
  list-style-type:circle;
  font-family: 'Noto Serif', serif;
}

header.primary nav ul li a{
  color:#000;
  font-size: 1rem;
}

header.primary nav ul {
  color:#000;
  font-size: 1rem;
}

aside .container {
  border: double 3pt;
}

aside .container h2{
  color: #000;
  font-family: 'Playfair Display SC', serif;
  font-size: 50pt;
  text-align: right;
  margin-right: 30px;
  margin-top: 15px;
}

aside .container img{
  margin-top: 0;
  padding: 20px;
  border-radius: 14px;
  max-height: 590px;
  max-width: 470px;
}

aside article.widget {
  width: 40%;
}